* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: #000000;
}

@font-face {
	font-family: "Strike Fighter Condensed Italic";
	font-style: italic;
	font-weight: 400;
	src: url(./Font/strikefightercondital.woff) format ("webopenfontformat");
	src: url(./Font/strikefightercondital.ttf) format("truetype");
}
@font-face {
	font-family: "Strike Fighter Laser Italic";
	font-style: italic;
	font-weight: 400;
	src: url(./Font/strikefighterlaserital.woff) format ("webopenfontformat");
	src: url(./Font/strikefighterlaserital.ttf) format("truetype");
}
@font-face {
	font-family: "Strike Fighter Condensed";
	font-weight: 400;
	src: url(./Font/strikefightercondensed.woff) format("webopenfontformat");
	src: url(./Font/strikefightercondensed.ttf) format("truetype");
}
@font-face {
	font-family: "Strike Fighter Italic";
	font-weight: 400;
	src: url(./Font/strikefighterital.woff) format("webopenfontformat");
	src: url(./Font/strikefighterital.ttf) format("truetype");
}


/* Navbar CSS Below here */

.navbar {
	width: 100%;
	max-height: 80px;
}
header {
	display: flex;
	background-color: #000000;
	align-items: center;
}
.navlogo {
	height: 60px;
	margin: 10px;
	margin-left: 25px;
}
.nav__links {
	list-style: none;
	display: flex;
}
.nav__links a {
	font-family: "BankGothic";
	color: #ffffff;
	text-decoration: none;
}
.nav__links li {
	padding: 0px 20px;
}
.nav__links li a {
	transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
	color: #000000;
	padding: 5px 15px;
	background-color: #ffffff;
	border: none;
}

/* product section */
.heading {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-family: 'Strike Fighter Italic';
    font-size: 96px;
}

.introline {
	position: relative;
	top: 100px;
	font-size:35px;
	color: #fff;
	font-family: 'bankGothic';
    text-align: center;
}


/*helmets*/
.helmets {
	position: relative;
	color: #fff;
	position: relative;
	top: 150px;
	text-align: center;
	font-size: 40px;
	font-family: 'Bankgothic'
}
.hemletimage {
	display: inline-flex;
	flex-direction: row;
}
.helmets .helmetimage img:nth-child(1n) {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: brightness(0.6);
	margin: 60px 20px;
}
.helmets .helmetimage > img:nth-child(1n):hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.3);
	filter: brightness(1);
	margin: 60px 50px;
}

/*gloves*/
.gloves {
	position: relative;
	color: #fff;
	position: relative;
	top: 150px;
	text-align: center;
	font-size: 40px;
	font-family: 'Bankgothic'
}
.gloveimage {
	display: inline-flex;
	flex-direction: row;
}
.gloves .gloveimage img:nth-child(1n) {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: brightness(0.6);
	margin: 60px 20px;
}
.gloves .gloveimage > img:nth-child(1n):hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.3);
	filter: brightness(1);
	margin: 60px 50px;
}

/*jacket*/
.jackets {
	position: relative;
	color: #fff;
	position: relative;
	top: 150px;
	text-align: center;
	font-size: 40px;
	font-family: 'Bankgothic'
}
.jacketimage {
	display: inline-flex;
	flex-direction: row;
}
.jackets .jacketimage img:nth-child(1n) {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: brightness(0.6);
	margin: 60px 20px;
}
.jackets .jacketimage > img:nth-child(1n):hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.3);
	filter: brightness(1);
	margin: 60px 50px;
}

/*hoodie*/
.hoodie {
	position: relative;
	color: #fff;
	position: relative;
	top: 150px;
	text-align: center;
	font-size: 40px;
	font-family: 'Bankgothic'
}
.hoodieimage {
	display: inline-flex;
	flex-direction: row;
}
.hoodie .hoodieimage img:nth-child(1n) {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: brightness(0.6);
	margin: 60px 20px;
}
.hoodie .hoodieimage > img:nth-child(1n):hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.3);
	filter: brightness(1);
	margin: 60px 50px;
}

/*footer*/
.footer {
	position: relative;
	width: 1920px;
	height: 600px;
    margin-top: 250px;
	background: #2D2D2D;
}

.footlogo1 {
	position: absolute;
	margin-top:69px;
	margin-left:69px;
}
.footlogo2{
	position: absolute;
	margin-left: 219px;
	margin-top: 146px;
}
.footaddress {
	position: absolute;
	margin-left: 251px;
	margin-top: 265px;

	font-family: "BankGothic";
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 37px;

	color: #FFFFFF;
}

.footerbutton {
	position: absolute;
	margin-left: 800px;
	margin-top: 80px;
	width: 400px;
	height: 45px;
	
	list-style: none;
	text-decoration: none;

	font-family: "BankGothic";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	text-align: center;
}
.footerbutton li{
	margin: 30px 10px;
}
.footerbutton a{
	color: #ffffff;
	text-decoration: none;

	padding: 5px 10px;
	background: #4A4A4A;
	border-radius: 15px;
}
.footerbutton li a {
	transition: all 0.3s ease 0s;
}
.footerbutton li a:hover{
	color: #000000;
	padding: 10px 25px;
	background: #cccccc;
	border-radius: 15px;
	border: none;
}

.copyright {
	position: absolute;
	width: 521px;
	height: 31px;
	margin-left: 80px;
	margin-top: 510px;
	
	font-family: 'BankGothic';
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 31px;
	
	color: #999999;
}

.social {
	position: absolute;
	width: 46.88px;
	height: 445.71px;
	margin-left: 1810px;
	margin-top: 77px;
}