* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: #000000;
}

@font-face {
	font-family: "Strike Fighter Italic";
	font-style: italic;
	font-weight: 400;
	src: url(./Font/strikefighterital.woff) format ("webopenfontformat");
	src: url(./Font/strikefighterital.ttf) format("truetype");
}

@font-face {
	font-family: "Strike Fighter Condensed Italic";
	font-style: italic;
	font-weight: 400;
	src: url(./Font/strikefightercondital.woff) format ("webopenfontformat");
	src: url(./Font/strikefightercondital.ttf) format("truetype");
}

@font-face {
    font-family: "Bankgothic";
    font-style: normal;
    font-weight: 500;
    src: url(./Font/BankGothic\ Regular.ttf) format("truetype");
}

/* Navbar CSS Below here */

.navbar {
	width: 100%;
	max-height: 80px;
}
header {
	display: flex;
	background-color: #000000;
	align-items: center;
}
.navlogo {
	height: 60px;
	margin: 10px;
	margin-left: 25px;
}
.nav__links {
	list-style: none;
	display: flex;
}
.nav__links a{
	font-family: "BankGothic";
	color: #ffffff;
	text-decoration: none;
}
.nav__links li {
	padding: 0px 20px;
}
.nav__links li a {
	transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
	color: #000000;
	padding: 5px 15px;
	background-color: #ffffff;
	border: none;
}
  
/* Landing Section CSS Below here */
.heading {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-family: 'Strike Fighter Italic';
    font-size: 96px;
}

/* shield */
.shieldhead {
	position: absolute;
	width: 750px;
	height: 67px;
	left: 585px;
	top: 350px;
	
	font-family: 'Strike Fighter Condensed Italic';
    text-align: center;
	font-size: 64px;
	line-height: 67px;
	
	text-align: center;
	
	color: #FFFFFF;
	
}
.shieldinfo p {
	position: absolute;
	color: #fff;
	font-family: 'BankGothic';
	font-weight: 500;
	margin-top: 180px;
	font-size: 20px;

	width: 1650px;
}

/* return */
.return {
	margin-top: 950px;
	color: #fff;
}

.returnhead {
	position: absolute;
	width: 750px;
	height: 67px;
	left: 500px;
	
	font-family: 'Strike Fighter Condensed Italic';
    text-align: center;
	font-size: 64px;
	line-height: 67px;
	
	color: #FFFFFF;
	
}
.returninfo p {
	position: relative;
	color: #fff;
	font-family: 'Bankgothic';
	font-weight: 500;
	font-size: 20px;

	width: 1650px;
	top: 100px;
}

/* warranty */
.warranty {
	position: relative;
	color: #fff;
	top: 200px;
}

.warrantyhead {
	color: #FFFFFF;
	position: absolute;
	width: 750px;
	height: 67px;
	left: 500px;
	
	font-family: 'Strike Fighter Condensed Italic';
    text-align: center;
	font-size: 64px;
	line-height: 67px;
}
.warrantyinfo {
	position: relative;
	top: 100px;
	font-family: 'Bankgothic';
	color: #fff;

}
.line1 {
	position: relative;
	font-weight: 500;
	font-size: 20px;

	width: 1650px;
}
.line2 {
	position: relative;
	color: #fff;
	font-weight: 500;
	font-size: 25px;

	width: 1650px;
}

/*Footer*/
.footer {
	position: relative;
	width: 1920px;
	height: 600px;
    margin-top: 400px;
	background: #2D2D2D;
}

.footlogo1 {
	position: absolute;
	margin-top:69px;
	margin-left:69px;
}
.footlogo2{
	position: absolute;
	margin-left: 219px;
	margin-top: 146px;
}
.footaddress {
	position: absolute;
	margin-left: 251px;
	margin-top: 265px;

	font-family: "BankGothic";
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 37px;

	color: #FFFFFF;
}

.footerbutton {
	position: absolute;
	margin-left: 800px;
	margin-top: 80px;
	width: 400px;
	height: 45px;
	
	list-style: none;
	text-decoration: none;

	font-family: "BankGothic";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	text-align: center;
}
.footerbutton li{
	margin: 30px 10px;
}
.footerbutton a{
	color: #ffffff;
	text-decoration: none;

	padding: 5px 10px;
	background: #4A4A4A;
	border-radius: 15px;
}
.footerbutton li a {
	transition: all 0.3s ease 0s;
}
.footerbutton li a:hover{
	color: #000000;
	padding: 10px 25px;
	background: #cccccc;
	border-radius: 15px;
	border: none;
}

.copyright {
	position: absolute;
	width: 521px;
	height: 31px;
	margin-left: 80px;
	margin-top: 510px;
	
	font-family: 'BankGothic';
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 31px;
	
	color: #999999;
}

.social {
	position: absolute;
	width: 46.88px;
	height: 445.71px;
	margin-left: 1810px;
	margin-top: 77px;
}